<%= form_with(model: incoming_mail_commenter, local: true) do |form| %>
  <% if incoming_mail_commenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incoming_mail_commenter.errors.count, "error") %> prohibited this incoming_mail_commenter from being saved:</h2>

      <ul>
      <% incoming_mail_commenter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :commenter %>
    <%= form.text_field :commenter, id: :incoming_mail_commenter_commenter %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :incoming_mail_commenter_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
