<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @incoming_mail_commenter.commenter %>
</p>

<p>
  <strong>Body:</strong>
  <%= @incoming_mail_commenter.body %>
</p>

<%= link_to 'Edit', edit_incoming_mail_commenter_path(@incoming_mail_commenter) %> |
<%= link_to 'Back', incoming_mail_commenters_path %>
